.celestial-pass-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.celestial-body {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--body-size);
  height: var(--body-size);
  background-color: #010b19;
  border-radius: 50%;
  transform: translate(var(--start-x), var(--start-y));
  animation: celestial-pass-animation var(--duration) ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes celestial-pass-animation {
  to {
    transform: translate(var(--end-x), var(--end-y));
  }
}
