@import "./fonts/warnock-pro.css";
@import "./fonts/neue-haas-unica.css";

h1 {
    @apply font-serif font-normal;
    @apply text-7xl;
}

h2 {
    @apply font-serif font-normal;
    @apply text-5xl;
}

h3 {
    @apply font-serif font-light;
    @apply text-3xl;
}

h4 {
    @apply font-serif font-light;
    @apply text-xl;
}

h5 {
    @apply font-serif font-light;
    @apply text-lg;
}

h6 {
    @apply font-serif font-light;
    @apply text-base;
}

p {
    @apply font-sans font-light;
    @apply text-base;
}

a {
    @apply font-sans font-light;
    @apply text-base;

    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    @apply font-sans font-normal;
    @apply text-base;

    color: var(--secondary-color);
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}