@import "./fonts.css";

@import "tailwindcss";

@theme {
  --font-sans: var(--font-neue-haas-unica), sans-serif;
  --font-serif: var(--font-warnock-pro), serif;
  --font-mono: 'Space Mono', monospace;

  --primary-color: #37AFDE;
  --secondary-color: #FB5347;
  --accent-color: #F1C232;
  --space-latte: #FFF8E7;
  --deep-space: #010b19;
  --success-color: #2AB16D;
  --warning-color: #ff9800;
  --error-color: #FB5347;
  --comment-color: #373f4b;

  --red-advisor: #FB5347;
  --blue-advisor: #37AFDE;
  --green-advisor: #2AB16D;
  --yellow-advisor: #F1C232;
  --purple-advisor: #9B59B6;
  
  --spacing-unit: 8px;

  /* O-type */
  --color-star-o9_5v: #5c7dff;
  --color-star-o8v:   #5b7cff;
  --color-star-o6v:   #5b7cff;
  --color-star-o5v:   #5b7bff;
  --color-star-o4v:   #5a7bff;
  --color-star-o3v:   #5b7bff;
  --color-star-o2v:   #5b7bff;
  --color-star-o1v:   #5c7cff;

  /* B-type */
  --color-star-b9_5v: #7895ff;
  --color-star-b9v:   #7693ff;
  --color-star-b8v:   #728fff;
  --color-star-b6v:   #6c8aff;
  --color-star-b5v:   #6988ff;
  --color-star-b3v:   #6887ff;
  --color-star-b2v:   #6484ff;
  --color-star-b0_5v: #5e7fff;

  /* A-type */
  --color-star-a9v:   #b0bfff;
  --color-star-a8v:   #abbcff;
  --color-star-a7v:   #a2b5ff;
  --color-star-a6v:   #9ab0ff;
  --color-star-a4v:   #93aaff;
  --color-star-a3v:   #8ba4ff;
  --color-star-a2v:   #87a1ff;
  --color-star-a1v:   #819dff;
  --color-star-a0v:   #7d99ff;

  /* F-type */
  --color-star-f9_5v: #fff2f6;
  --color-star-f8v:   #f3edff;
  --color-star-f6v:   #ebe7ff;
  --color-star-f5v:   #dddeff;
  --color-star-f4v:   #d7d9ff;
  --color-star-f3v:   #d1d6ff;
  --color-star-f2v:   #ccd2ff;
  --color-star-f1v:   #c2cbff;
  --color-star-f0v:   #b8c5ff;

  /* G-type */
  --color-star-g9v:   #ffe1c7;
  --color-star-g8v:   #ffe5cf;
  --color-star-g6v:   #ffe8d7;
  --color-star-g4v:   #ffebdf;
  --color-star-g2v:   #ffede6;
  --color-star-g1v:   #ffefed;

  /* K-type */
  --color-star-k8v:   #ffa35e;
  --color-star-k7v:   #ffa563;
  --color-star-k5v:   #ffb177;
  --color-star-k4v:   #ffbc87;
  --color-star-k3v:   #ffc797;
  --color-star-k1v:   #ffdab8;
  --color-star-k0v:   #ffdec0;

  /* M-type */
  --color-star-m9_5v: #ff7d24;
  --color-star-m8v:   #ff8a33;
  --color-star-m6v:   #ffa548;
  --color-star-m4v:   #ffa24c;
  --color-star-m3v:   #ffa250;
  --color-star-m2v:   #ffa153;
  --color-star-m0v:   #ffa25a;
}

body {
  background-color: var(--deep-space);
  color: var(--space-latte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}