@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-LightDisp.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-LightItDisp.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-LightIt.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('/fonts/warnock-pro/WarnockPro-SemiboldIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}