# ontolemic/.github/workflows/deploy.yml
name: deploy-ontolemic

on:
  push:
    branches: [main]
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy.yml'

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    uses: luoencz/.github/.github/workflows/deploy-docker.yml@main
    with:
      app_name: ontolemic-frontend
      dockerfile_path: ./frontend/Dockerfile
      build_context: ./frontend